<footer class="footer p-5"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-3"> 
                <h2><img style="border-radius: 50%; " src="/E-cell-logo.png" alt="" height="170px"></h2> 
            </div> 
            <div class="col-md-3"> 
                <h5>Keep explore</h5> 
                <ul class="list-unstyled"> 
                    <li> <a style="color: black; text-decoration: none;" href="/listing">Home</a></li>
                    <li>About</li>
                    <li>Services</li>
                </ul> 
            </div> 
            <div class="col-md-3"> 
                <h5>Our Initiatives</h5> 
                <ul class="list-unstyled"> 
                    <li>E-Summit</li>
                    <li>Campus Executive</li>
                    <li>Workshop</li>
                </ul> 
            </div> 
            <div class="col-md-3"> 
                <h5>Contact Us</h5> 
                <ul class="list-unstyled"> 
                    <li><i class="fa-solid fa-envelope"></i> : sati@satiengg.in</li> 
                    <li><i class="fa-solid fa-phone"></i>: +91-7592-250121</li> 
                    <li><i class="fa-solid fa-location-dot"></i>: Samrat Ashok Technological Institute - Civil Lines, Vidisha (M.P.) 464001, INDIA</li> 
                </ul> 
            </div> 
            <div class="col-md-3"> 
                <h5>Connect Us</h5> 
                <ul class="list-inline footer-links"> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-facebook"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-twitter"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-instagram"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                        <i class="fa-brands fa-youtube"></i>
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-linkedin"></i> 
                      </a> 
                    </li> 
                </ul> 
            </div> 
        </div> 
        <hr> 
        <div class="row"> 
            <div class="col-md-6"> 
                <p>© 2024 E-cell S.A.T.I</p> 
            </div> 
            <div class="col-md-6 text-end"> 
                <ul class="list-inline footer-links"> 
                    <li class="list-inline-item"> 
                        <a href="#" class="text-white" > 
                            Privacy Policy |
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="#" class="text-white" > 
                            Terms & Conditions
                        </a> 
                    </li> 
                </ul> 
            </div> 
        </div> 
    </div> 
</footer> 